<div class="container mt-5">
  <div class="border border-primary p-4" style="background-color: #e7f3fe;">
    <h1 class="text-center mb-4">Linkcode Technologies</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 100%;">
          <img src="https://prasaddhobale.me/Linkcode/Linkcode2.jpeg" class="card-img-top" alt="Springboot ">
          <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title">Spring Boot</h5>
            <img src="https://www.seekpng.com/png/detail/966-9665493_my-profile-icon-blank-profile-image-circle.png "max width="10%" class="rounded-circle mt-1" alt="Profile Photo">
            <p class="mt-1">Prof. Rahul Ahire</p>
            <a href="#" class="btn btn-primary mt-auto">View Course</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 100%;">
          <img src="https://prasaddhobale.me/Linkcode/Linkcode2.jpeg" class="card-img-top" alt="Java programming">
          <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title">Java Programming</h5>
            <img src="https://www.seekpng.com/png/detail/966-9665493_my-profile-icon-blank-profile-image-circle.png"max width="10%"   class="rounded-circle mt-1" alt="Profile Photo">
            <p class="mt-1">Prof. Rahul Ahire</p>
            <a href="#" class="btn btn-primary mt-auto">View Course</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 100%;">
          <img src="https://prasaddhobale.me/Linkcode/Linkcode2.jpeg" class="card-img-top" alt="spring boot">
          <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title">Web Development</h5>
            <img src="https://www.seekpng.com/png/detail/966-9665493_my-profile-icon-blank-profile-image-circle.png"max width="10%" class="rounded-circle mt-1" alt="Profile Photo">
            <p class="mt-1">Prof. Rahul Ahire</p>
            <a href="#" class="btn btn-primary  mt-auto" >View Course</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
